body{
    background-image: url(../images/pattern-background-desktop.svg) ;
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-position: center;
    margin: 0;
}
#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    margin: 0;
}
.contenar{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    height: 64vh;

}
#text h1{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
#text p{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenar-1{

     display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 450px;
    background-color: white;


}
.img-div{

    display: flex;

}
#hp-div{

display: flex;
justify-content: center;
align-items: center;

}
#hp-div h1{
    display: flex;
    justify-content: center;

}
.imgsong{
border-top-left-radius: 50px;
border-top-right-radius: 50px;

}
#musicsecion{
    margin-top: 20px;
   background-color: hsl(225, 75%, 97%);
  display: flex;
   margin-left: 60px;
   border-radius: 12px;
   height: 100px;
   width: 350px;
}
#musicsecion h3{
    margin-top: 25px;
}
#musicsecion p{
    color: rgb(181, 174, 189);

}
.imagmusic{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    padding-top: 25px;
    float: left;

}
.ancer{
    position: relative;
    margin-left: 90px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    
}
#buttom{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    

}
button{
    font-size: 17px;
    padding: 15px 100px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    border: none;
}
button:hover{
    cursor: pointer; 
    background-color: blue;
}
#ancer2{
    margin-top: 30px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
 
}
.ancer-1{
    text-decoration: none;
    color: rgb(103, 103, 235);
    font-size: 17px;
}
.ancer-2{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;}

#contenar-1{

        display: flex;
       flex-direction: column;
       border-radius: 50px;
       width: 450px;
       background-color: white;
}  
button {
    font-size: 17px;
    padding: 15px 100px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    border: none;
}
button:hover {
    cursor: pointer; 
    background-color: blue;
}

@media (max-width: 750px) {
    body {
    background-image: url(../images/pattern-background-mobile.svg) ;
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-position: center;
    }
    .ancer {
        margin-left: 90px; 
        margin-right: 20px; 
        margin-top: 40px; 
    }
    #buttom {
        margin-top: 15px; 
    }
    button {
        font-size: 14px; 
        padding: 10px 50px; 
    }
    #ancer2 {
        margin-top: 15px; 
        padding-bottom: 20px; 
    }
    .ancer-1, .ancer-2 {
        font-size: 14px; 
}

.contenar{
    display: flex;
    justify-content: center;
    height: 60vh;
}
#musicsecion{
height: 11vh;
width: 290px;
margin-left: 40px;
padding-left: 20px;

}
.imagmusic{
    padding-top: 20px;
    padding-left:1px ;
    float: left;
}
.pdiv2{
    font-size: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.pdiv2 h3 {
font-size: px;
}

#contenar-1{
display: flex;
    width: 390px;
}
.imgsong{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 390px;
}
                            }
      
    
    
