body{
    background-image: url(../images/pattern-background-desktop.svg) ;
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-position: center;
    margin: 0;
}
#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    margin: 0;
}
.contenar{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#text h1{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
#text p{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenar-1{

     display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 450px;
    background-color: white;


}
.img-div{

    display: flex;

}
#hp-div{

display: flex;
justify-content: center;
align-items: center;

}
#hp-div h1{
    display: flex;
    justify-content: center;

}
.imgsong{
border-top-left-radius: 50px;
border-top-right-radius: 50px;

}
#musicsecion{
    margin-top: 20px;
   background-color: hsl(225, 75%, 97%);
  display: flex;
   margin-left: 60px;
   border-radius: 12px;
   height: 100px;
   width: 350px;
}
#musicsecion h3{
    margin-top: 25px;
}
#musicsecion p{
    color: rgb(181, 174, 189);

}
.imagmusic{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    padding-top: 25px;
    float: left;

}
.ancer{
    position: relative;
    margin-left: 90px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    
}
#buttom{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    

}
button{
    font-size: 17px;
    padding: 15px 100px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    border: none;
}
button:hover{
    cursor: pointer; 
    background-color: blue;
}
#ancer2{
    margin-top: 30px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
 
}
.ancer-1{
    text-decoration: none;
    color: rgb(103, 103, 235);
    font-size: 17px;
}
.ancer-2{text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;}
    
@media (max-width: 768px) {
    body {
    background-image: url(../images/pattern-background-mobile.svg) ;
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-position: center;
         
    }
}